<!DOCTYPE HTML>
<html>
<head>
  <title>New Product</title>
</head>
<body>
<h1>Add a Product</h1>
<br>
<form action="/" method="post">
  <input type="text" name="product">
  <input type="submit" value="Create Product">
</form>
</body>
</html>